<ul>
    <li>2017</li>
    <li>22 Sep --- splited screen and added 4 blank pages</li>

    <li>2021</li>
    <li>22 Aug --- picked back up to made a card memorizer for 6 nimmt</li>

    <li>2022</li>
    <li>14 Jan --- turned out made a chrome extension for 6 nimmt to memorize card automatically</li>

    <li>2024</li>
    <li>18 Apr --- picked back up to start making song guesser, idea from party anmial</li>
</ul>