<link rel="stylesheet" type="text/css" href="../main.css">

<div>
  <div class="col-lg-6 col-xs-12 top">
    <a href="./music/music.html">
      <div class="top-left">
        Japanese Music
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-xs-12 top">
    <a href="./guessSong/select-song.html">
      <div class="top-right">
        Guess the Song
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-xs-12 bottom">
    <a href="./6nimmt/nimmt.html">
      <div class="bottom-left">
        6 nimmt card memorizer
      </div>
    </a>
  </div>
  <div class="col-lg-6 col-xs-12 bottom">
    <a href="./log/logs.html">
      <div class="bottom-right">
        Technical Log
      </div>
    </a>
  </div>
</div>
