<link rel="stylesheet" type="text/css" href="./main.css">

<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1>
                          Hello, Cabigon Desu!
                        </h1>
                        <div class="code">
                          <h3>To deploy to github.io</h3>
                          <ul>
                            <li>harp _harp .</li>
                            <li>git add -A</li>
                            <li>git commit -m "message here"</li>
                            <li>git push origin master</li>
                            <li>done!</li>
                          </ul>
                        </div>
                        <div class="code">
                          <h3>To local test</h3>
                          <ul>
                            <li>harp _harp</li>
                          </ul>
                        </div>
                        <div class="start-btn">
                          <a href="./pages/start.html" class="btn btn-info" role="button">Start !!</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
</div>
<!-- /.intro-header -->
