<div>
  <%- partial("_shared/nav") %>
</div>
<div>
  Hello, Cabigon Desu!
</div>
<div>
  <ul>
    <li>harp compile _harp ./</li>
    <li>git add -A</li>
    <li>git commit -m "message here"</li>
    <li>git push origin master</li>
  </ul>
</div>
