<div>
  <div class="col-lg-12 top">
    <a href="./music.html">
      <div class="col-lg-6 col-sm-6 top-left">
        Japanese Music
      </div>
    </a>
    <a href="./guessSong.html">
      <div class="col-lg-6 col-sm-6 top-right">
        Guess the Song
      </div>
    </a>
  </div>
  <div class="col-lg-12 bottom">
    <a href="./6nimmt.html">
      <div class="col-lg-6 col-sm-6 bottom-left">
        6 nimmt card memorizer
      </div>
    </a>
    <a href="./logs.html">
      <div class="col-lg-6 col-sm-6 bottom-right">
        Technical Log
      </div>
    </a>
  </div>
</div>
